results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
.test/.cache
.test/genome_browser
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
**/.DS_Store
*.sif
*.simg